/* Tap Room Section */
.taproom-section {
  background: linear-gradient(145deg, #002d40, #001b34);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.taproom-box {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5),
    inset 0 -10px 30px rgba(0, 0, 0, 0.2);
}

.taproom-box h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f0c040;
  text-transform: uppercase;
}

.countdown-box {
  background: #f0c040;
  color: #001b34;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.countdown-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.beer-gif {
  width: 100px;
  margin-bottom: 20px;
}

.taproom-box p {
  font-size: 1rem;
  line-height: 1.5;
  color: #cccccc;
}

.btn-join {
  background: linear-gradient(145deg, #f0c040, #f4d35e);
  color: #001b34;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.btn-join:hover {
  background: linear-gradient(145deg, #f4d35e, #f0c040);
  transform: scale(1.1);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
}

.btn-join:active {
  transform: scale(1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

/* Fondo Animado */
.taproom-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/cdmx.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

/* Responsivo */
@media (max-width: 768px) {
  .taproom-box {
    width: 90%;
    padding: 20px;
  }

  .taproom-box h2 {
    font-size: 2rem;
  }

  .countdown-text {
    font-size: 1.2rem;
  }
}
